<!DOCTYPE html>
<html lang="en" class="full">
<head>
    <meta charset="UTF-8">
    <title>Simultan.io</title>
    <script>exports = {}</script>
    <script src="{{ url_for('js_bundle') }}"></script>
    <link rel=icon href="icon.png">
    <style>
        .full {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body class="full">
    <canvas id="canvas" class="full"></canvas>
</body>
</html>
